{
    "token": "YOUR_LICHESS_BOT_TOKEN_HERE",
    "engine_depth": 2,
    "max_simultaneous_games": 3,
    "accept_variants": [
        "standard"
    ],
    "accept_speeds": [
        "bullet",
        "blitz",
        "rapid",
        "classical",
        "correspondence"
    ]
}
